<% if microposts.any? %>
  <ul class="list-unstyled mt-2">
    <% microposts.each do |micropost| %>
      <li class="d-flex">
        <img class="rounded me-2 mb-5" src="<%= gravatar_url(micropost.user, { size: 64 }) %>" alt="">
        <div>
          <div>
            <%= link_to micropost.user.name, user_path(micropost.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= micropost.created_at %></span>
          </div>
          <div>
            <p><%= micropost.content %></p>
            <p>
              <% if micropost.kanryou == "1" %>
                進行中
              <% end %>
              <% if micropost.kanryou == "2" %>
                タスク完了
              <% end %>
            </p>
          </div>
          <div>
            <% if current_user == micropost.user %>
              <%= link_to "編集", edit_micropost_path(micropost), class: 'btn btn-info btn-sm' %>
              <%= link_to "消去", micropost, method: :delete, data: { confirm: "本当に消去してもよろしいですか？" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>